/*
 * Copyright 2023 Thorsten Ludewig (t.ludewig@gmail.com).
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 *
 * fill new zammad user from ldap entry
 */
(
  function ldap2zammad( mode, zammadUser, ldapEntry )
  {
    // mode : "test", "create, "update"
    
    zammadUser.setFirstname(ldapEntry.getAttributeValue("givenname"));
    zammadUser.setLastname(ldapEntry.getAttributeValue("sn"));
    zammadUser.setEmail(ldapEntry.getAttributeValue("mail"));
    zammadUser.setPhone(ldapEntry.getAttributeValue("telephoneNumber"));
    zammadUser.setFax(ldapEntry.getAttributeValue("facsimileTelephoneNumber"));
    zammadUser.setWeb("https://www.myorg.de");
    zammadUser.setOrganization("MyOrg");
    zammadUser.setVerified(true);

    if ( "create" === mode || "test" === mode )
    {
      if ( ldapEntry.getAttributeValue("institute") === "CC" )
      {
        zammadUser.setDepartment( "CC" );
        zammadUser.setRoles( [ "Agent", "Customer" ] );
      }
      else
      {
        zammadUser.setRoles( [ "Customer" ] ); // array of String
      }
    }
  }
);
